:root{
    --primary: #135bf9;
    --primary-content: #eff6ff;
    
    --secondary: #f34700; 
    --secondary-content: #fff7ed;
    
    --accent: #5ca300;
    --accent-content: #f5fce5;
    
    --neutral: #f34700;
    --neutral-content: #fff7ed;
    
    --base-100: #fff7ed;
    --base-200: #feecd3;
    --base-300: #ffd6a7;
    --base-content: #7c2808;

    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --navbar-color: rgba(255, 214, 167, 0.300);
}

    
html{
}

body{
    background-color: var(--base-200);
    padding: 0px;
    margin: 0px;

    width: 100%;
}

main{
    width: calc(100%-1rem);
    padding: 1rem;
}

#samus{
    display: inherit;
}

#navSamus{
    display: inline-flex;
}

#darkSamus, #navDarkSamus{
    display: none;
}

hr{
    border-top: 2px solid var(--accent);
}

#informacionSamus, #informacionDarkSamus{
    display: inline-grid;
    align-items: center;
    grid-template: auto / auto auto auto;
    column-gap: 1rem;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    width: 100%;
    justify-items: center;
}

.side-information{
    grid-column: auto / span 5;
    color: var(--base-content);
}

.side-information h1{
    font-size: 3rem;
}

.side-information p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: justify;
}

.side-image small{
    color: var(--base-content);
    margin-top: 2rem;
    opacity: 0.8;
}

.side-image{
    grid-column: auto / span 4;
    width: 100%;
    display: flex;
    justify-content: center;
}

.side-image div{
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    background-color: var(--base-100);
    padding: 2rem;
    width: 80%;
    height: fit-content;
    text-align: center;
}


.side-image img{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

@media screen and (min-width: 0px) and (max-width: 1200px) {
    #informacionSamus, #informacionDarkSamus{
        display: flex;
        flex-wrap: wrap;
    }

    .side-information{
        width: 100%;
    }

    .side-image{
        width: 100%;
    }
}

#coloresDarkSamus, #coloresSamus {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

}

#coloresDarkSamus hr, #coloresSamus hr{
    width: 100%;
}

#coloresDarkSamus h2, #coloresSamus h2{
    width: 100%;
    color: var(--base-content);

}

#coloresDarkSamus div, #coloresSamus div{
    margin-top: 1rem; 
    overflow-x: auto;
    background-color: var(--base-100);
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    width: fit-content;
    padding: 1rem;
}

#curiosidadesSamus, #curiosidadesDarkSamus{
    color: var(--base-content);
}

#curiosidadesSamus ul, #curiosidadesDarkSamus ul{
    line-height: 1.8rem;
    font-size: 1.1rem;

}

#contacto h2{
    color: var(--base-content);
}

#contacto form{
    box-shadow: var(--box-shadow);
    background-color: var(--base-100);
    box-shadow: grey;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-top: 1rem;
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
}

#contacto input, textarea{
    margin-left: 1rem;
    border-radius: 0.3rem;
    padding: 0.3rem;
    border-style: solid;
    border-color: var(--secondary);
    border-width: 2px;
}

#contacto label{
    color: var(--base-content);
}

#contacto textarea{
    margin-right: 2rem;
}

.btn-submit{
    background-color: var(--secondary);
    color: var(--secondary-content);
    font-weight: bold;
    padding: 0.3rem 1rem 0.3rem 1rem !important;
}

#contacto div{
    display: flex;
    gap: 1rem;
}

nav{
    width: 100%;
    margin: 0px;
    background-color: var(--navbar-color);
    box-shadow: var(--box-shadow);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    left: 0;
    margin: 0px;
    height: fit-content;
    display: inline-flex;
    justify-content: space-between;
}

nav ul{
    margin: 0px;
    display: inline-flex;
    height: fit-content;
}

nav li{
    height: fit-content;
    list-style: none;
    min-height: 2rem;
    display: flex;
}

nav a{
    text-decoration: none;
    color: var(--base-content);
    padding: 1rem ;
}

nav a:hover{
    background-color: var(--secondary);
    color: var(--secondary-content)
}

nav button{
    border-width: 0px;
    background-color: var(--secondary);
    color: var(--secondary-content);
    display: flex;
    gap: 0.5rem;
    align-items: center;
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: 600;
}

nav button:hover{
    background-color: var(--primary);
    color: var(--primary-content);
}

nav img{
    width: 3rem;
    height: 3rem;
}

footer{
    width: 100%;
    background-color: var(--base-300);
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: inline-flex;
    justify-content: space-around;
    margin-top: 2rem;
}

footer small
{
    color: var(--base-content);
    opacity: 0.8;

}

footer a{
    text-decoration: none;
    color: var(--base-content);
    font-weight: 600;
    font-size: 1.1rem;
}

footer a:hover{
    color: var(--accent);
}