:root{
    --primary: #135bf9;
    --primary-content: #eff6ff;
    
    --secondary: #f34700; 
    --secondary-content: #fff7ed;
    
    --accent: #5ca300;
    --accent-content: #f5fce5;
    
    --neutral: #f34700;
    --neutral-content: #fff7ed;
    
    --base-100: #fff7ed;
    --base-200: #feecd3;
    --base-300: #ffd6a7;
    --base-content: #7c2808;

    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
;
}

    

body{
    background-color: var(--base-200);
}

main{
    padding: 1rem;
}

hr{
    border-top: 2px solid var(--accent);
}

#informacion{
    display: inline-grid;
    align-items: center;
    grid-template: auto / auto auto auto;
    column-gap: 1rem;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    width: 100%;
    justify-items: center;
}

.side-information{
    grid-column: auto / span 5;
    color: var(--base-content);
}

.side-information h1{
    font-size: 3rem;
}

.side-information p {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: justify;
}

.side-image small{
    color: var(--base-content);
    margin-top: 2rem;
    opacity: 0.8;
}

.side-image{
    grid-column: auto / span 4;
    width: 100%;
    display: flex;
    justify-content: center;
}

.side-image div{
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    background-color: var(--base-100);
    padding: 2rem;
    width: 80%;
    height: fit-content;
    text-align: center;
}


.side-image img{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

#colores{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#colores hr{
    width: 100%;
}

#colores h2{
    width: 100%;
    color: var(--base-content);

}

#colores div{
    margin-top: 1rem; 
    overflow-x: auto;
    background-color: var(--base-100);
    box-shadow: var(--box-shadow);
    border-radius: 1rem;
    width: fit-content;
    padding: 1rem;
}

#curiosidades{
    color: var(--base-content);
}

#curiosidades ul{
    line-height: 1.8rem;
    font-size: 1.1rem;

}

#contacto h2{
    color: var(--base-content);
}

#contacto form{
    box-shadow: var(--box-shadow);
    background-color: var(--base-100);
    box-shadow: grey;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-top: 1rem;
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
}

#contacto input, textarea{
    margin-left: 1rem;
    border-radius: 0.3rem;
    padding: 0.3rem;
    border-style: solid;
    border-color: var(--secondary);
    border-width: 2px;
}

#contacto textarea{
    margin-right: 2rem;
}

.btn-submit{
    background-color: var(--secondary);
    color: var(--secondary-content);
    font-weight: bold;
    padding: 0.3rem 1rem 0.3rem 1rem !important;
}

#contacto div{
    display: flex;
    gap: 1rem;
}